@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    /* Editor colors */
    --color-editor-bg: #d5d6db;
    --color-editor-bg-alt: #e9e9ed;
    --color-editor-panel: #e9e9ed;
    --color-editor-border: #c1c2c7;
    --color-editor-dark: #0f0f14;
    --color-editor-hover: #c4c8da;
    --color-editor-light: #a8aecb;

    /* Accent colors */
    --color-accent-blue: #2e7de9;
    --color-accent-cyan: #007197;
    --color-accent-magenta: #9854f1;
    --color-accent-green: #587539;
    --color-accent-red: #f52a65;
    --color-accent-orange: #b15c00;
    --color-accent-yellow: #8c6c3e;

    /* Text colors */
    --color-text-primary: #3760bf;
    --color-text-secondary: #6172b0;
    --color-text-tertiary: #848cb5;
    --color-text-muted: #9699a3;
    --color-text-fg: #343b58;
    --color-text-fg-dark: #0f0f14;

    /* Heights */
    --height-header: 48px;
    --height-player-controls: 48px;
    /*--height-timeline-toolbar: 40px;*/
    --height-timeline: 300px;

    /* Widths */
    --width-sidebar: 340px;
    --width-properties-panel: 280px;
    --width-track-header: 128px;

    /* Spacing */
    /*--spacing-xs: 2px;
    --spacing-sm: 6px;
    --spacing-md: 8px;
    --spacing-lg: 16px;*/
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
